.header {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--d0);
    border-bottom: 7px solid var(--d1);
}

.content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    padding: 5%;
}

.time {
    font-weight: bold;
    font-size: 1.3em;
}

.back {
    background-color: transparent;
    outline: none;
    border:  none;
    fill: var(--l2);
    margin-top: 5px;
    cursor: pointer;
}