:root {
    --no_of: hidden !important;
    --d0: 31, 33, 37;
    --d1: 37, 45, 70;
    --d2: 40, 47, 75;
    --d3: 59, 68, 102;
    --l1: 204, 191, 235;
    --l2: 236, 236, 245;

/* --d0: 36, 58, 49;
   --d1: 47, 70, 57;
   --d2: 53, 79, 82;
   --d3: 73, 107, 99;
   --l1: 132, 169, 140;
   --l2: 223, 233, 217; */

/* --d0: 8, 16, 36;
   --d1: 18, 26, 44;
   --d2: 29, 45, 68;
   --d3: 53, 79, 102;
   --l1: 116, 140, 171;
   --l2: 240, 235, 216; */

/* --d0: 29, 16, 26;
   --d1: 27, 32, 33;
   --d2: 48, 52, 63;
   --d3: 117, 24, 66;
   --l1: 234, 99, 140;
   --l2: 255, 200, 221;
   --temperate1: 205, 175, 200; */

    --temperate1: 175, 183, 205;

    --borderWidth: 5px;
}

@font-face {
  font-family: "cool1";
  src: url("./assets/fonts/Signika_Negative/SignikaNegative-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
    width: 586px;
    height: 526px;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    user-select: none;
    overflow: var(--no_of);
    font-size: 14px;
    letter-spacing: 1.45px;
    position: relative;
    color: rgba(var(--l2));

    outline: 5px solid rgba(255, 0, 0, 0.377);
}

* {
    font-family: cool1, monospace !important;
    letter-spacing: 2.5px;

}

::selection {background-color: rgba(0, 26, 26, 0.45);}
*::-webkit-scrollbar {width: 8px;height: 5px;}
*::-webkit-scrollbar-track {background: transparent;}
*::-webkit-scrollbar-thumb {
    background: rgba(88, 88, 88, 0.3);
    border-radius: 10px;
    cursor: default;
}
*::-webkit-scrollbar-thumb:hover {background: rgba(99, 99, 99, 0.4);}

.unobstrusive {
    opacity: 0.65;
    transition: 0.4s opacity;
}
.unobstrusive:hover {
    opacity: 1;
}