:root {
    --no_of: hidden !important;
}
html, body, #root {
    width: 586px;
    height: 526px;
    background-color: aliceblue;
    margin: 0px;
    user-select: none;
    overflow: var(--no_of);
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1.45px;
    outline: 5px solid red;
    position: relative;
}
::selection {background-color: rgba(0, 26, 26, 0.45);}
*::-webkit-scrollbar {width: 8px;height: 5px;}
*::-webkit-scrollbar-track {background: transparent;}
*::-webkit-scrollbar-thumb {
    background: rgba(88, 88, 88, 0.3);
    border-radius: 10px;
    cursor: default;
}
*::-webkit-scrollbar-thumb:hover {background: rgba(99, 99, 99, 0.4);}
